openapi: 3.2.0
info:
  title: Nursa Public API V2 Support API
  version: '2'
  x-evidence:
    harvested: '2026-08-04'
    method: derived
    source: https://docs.nursa.com/
    note: decoded from the published docusaurus-plugin-openapi-docs page chunks; operations verbatim
  description: The Nursa Public API lets healthcare facilities and their scheduling/workforce systems post and manage per diem shifts on the Nursa marketplace, review clinician shift requests, schedule clinicians, handle shift reports and cancellations, read clinician credentials, and subscribe to webhooks.
  contact:
    name: Nursa API Team
    url: https://docs.nursa.com/
    email: josh.bear@nursa.com
servers:
- url: https://public-api.prod.nursa.com
  description: Production (documented at docs.nursa.com Accessing the API; probed 2026-08-04 -> 401)
- url: https://public-api.sandbox.nursa.com
  description: Sandbox (the server declared in the published docs bundle; probed 2026-08-04 -> 401)
security:
- public-api: []
tags:
- name: Support
paths:
  /api/v2/support/facilities/user/associate:
    put:
      operationId: SupportFacilitiesController_associateUsersToFacility
      summary: Support Facilities Controller associate Users To Facility
      description: SupportFacilitiesController_associateUsersToFacility
      parameters: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties: {}
              title: SupportAssociateUsersToFacilityRequest
      responses:
        '200':
          description: ''
      tags:
      - Support
components:
  securitySchemes:
    public-api:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: Please, fill this with your authorization token
externalDocs:
  description: Nursa Public API documentation
  url: https://docs.nursa.com/
